@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000");
@import "tailwindcss";

@theme {
  --font-nav:"Nunito Sans", sans-serif;
  
}

@theme {

  --animate-opacity:opacityAnimate 300ms ease-in;
  @keyframes opacityAnimate {
    from{opacity: 0%;}
    to{opacity: 100%;}
  }
}

@theme {
  --animate-bounce-once:bounceOnce 0.6s ease-out;

  @keyframes bounceOnce {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
    
  }

}

.card-dash-custom {
  border-style: dashed;
  border-width: 2px;
  border-image: repeating-linear-gradient(
      to right,
      black 0 10px,       /* dash length 10px */
      transparent 10px 20px /* gap length 10px */
    ) 1;
}